@{
    ViewBag.Title = "InsertData";
}


<script type="text/javascript">
    $(document).ready( function(){
       
        window.resizeTo(300, 300);
        
    });
</script>
<h1 style="text-align:center;margin-top:20%; font-size:30px; color:red">CarryForwarding Done</h1>
