@model CodeFirstEntities.DesignationMaster
@{
    ViewBag.Title = "DesignationUpdateDetails";
}

<script type="text/javascript">
    $(document).ready(function () {
        var boundry = document.getElementById("NumberOfRows").value;
        var type = document.getElementById("ViewType").value;
        if (type == "Edit") {
            for (var i = 1; i <= boundry; i++) {
                editid = "EditId" + i;
                lableEditid = "LableEditId" + i;
                if (document.getElementById(editid) != null) {
                    document.getElementById(editid).style.display = "inline";
                    document.getElementById(lableEditid).style.display = "none";
                }
            }
        }
        else {
            for (var i = 1; i <= boundry; i++) {
                deleteid = "DeleteId" + i;
                lableDeleteid = "LableDeleteId" + i;
                if (document.getElementById(deleteid) != null) {
                    document.getElementById(deleteid).style.display = "inline";
                    document.getElementById(lableDeleteid).style.display = "none";
                }
            }
        }
    });
</script>


<div class="row">
    <h2><strong>Designation </strong>Details</h2>
    <br />
    @{
        string type = TempData["ViewType"].ToString();
        TempData["ViewType"] = type;
        <input type="hidden" id="ViewType" value="@type" />
    }

    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="form-group col-md-8 col-lg-8">
                <label for="exampleInputname">Designation Code : </label>
                @Html.DisplayFor(model => model.DesignationCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8 col-lg-8">
                <label for="exampleInputname">Designation Name : </label>
                @Html.DisplayFor(model => model.DesignationName, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
