@model CodeFirstEntities.MainApplication
@{
    ViewBag.Title = "ShopRequisitionLoginCreate";
}

@*<script type="text/javascript">
    $(document).ready( function(){
       
        window.resizeTo(300, 300);
        
    });
</script>*@

<h1 style="text-align:center; font-size:30px; margin-top:35px">Mail Sent to purchase manager to order items</h1>